@page "/portfolio"
@using BrightInvest.Domain.Entities
@inject NavigationManager Navigation



<PageTitle>Portfolio</PageTitle>

<p> @asset.Name @asset.Ticker </p>

@code {

	Asset asset = new Asset("GOOGL", "Alphabet Inc.");
	// _context.Assets.Add(asset);
	// _context.saveChanges();

}
